@model Quiron.LojaVirtual.Dominio.Entidades.Produto

<div class="card">
    <div class="card-header bg-primary bg-gradient">
        <h5 class="card-title">@Model.Nome</h5>
    </div>
    <div class="card-body bg-dark bg-gradient text-white">
        <p class="card-text">@Model.Descricao</p>
    </div>
    <div class="card-footer bg-primary bg-gradient">
        <h5 class="card-text text-end"><strong>@Model.Preco</strong></h5>
    </div>
</div>